#grabthemall-button {
	list-style-image: url("chrome://grabthemall/skin/GrabTehmAll.png");
}

#grabthemall-button {
  list-style-image: url("chrome://grabthemall/skin/GrabTehmAll-24.png");
}

toolbar[iconsize="small"] #grabthemall-button {
  list-style-image: url("chrome://grabthemall/skin/GrabTehmAll-16.png");
}

#grabthemall-menuitem, #grabthemall-appmenuitem {
    list-style-image: url("chrome://grabthemall/skin/GrabTehmAll-16.png");
}